@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;800&display=swap');


$primary-font: 'Manrope', sans-serif;
$border-radius:10px;
$cyan: hsl(193, 38%, 86%);
$green: hsl(150, 100%, 66%);
$blue1:hsl(217, 19%, 38%);
$blue2: hsl(217, 19%, 24%);
$blue3: hsl(218, 23%, 16%);